name: Postman接口自动化测试
on:
  push:
    branches: [ main ] # 提交代码到main分支时自动触发

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取仓库文件
        uses: actions/checkout@v4

      - name: 安装Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: 安装Newman
        run: npm install -g newman

      - name: 执行Postman测试
        run: newman run test.postman_collection.json --insecure
